/* Global Styles */
body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #f4f7fc;
    color: #333;
}

a {
    text-decoration: none;
    color: inherit;
}

/* Header */
header {
    background-color: #0073e6;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    color: white;
    font-size: 30px;
}

nav ul {
    list-style-type: none;
    display: flex;
}

nav ul li {
    margin-right:

